name: Cancel stale queued runs

on:
  schedule:
    - cron: "0 * * * *"   # runs every hour
  workflow_dispatch:       # optional, for manual triggering

permissions:
  actions: write
  contents: read

jobs:
  cancel-stale-runs:
    runs-on: ubuntu-24.04

    steps:
      - uses: durandtibo/cancel-queued-runs-action@v1.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repo: ${{ github.repository }}
