name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:  # to trigger manually

jobs:
  coverage:
    uses: ./.github/workflows/coverage.yaml
    secrets: inherit
  cyclic-imports:
    uses: ./.github/workflows/cyclic-imports.yaml
  doctest:
    uses: ./.github/workflows/doctest.yaml
  format:
    uses: ./.github/workflows/format.yaml
  pre-commit:
    uses: ./.github/workflows/pre-commit.yaml
  test:
    uses: ./.github/workflows/test.yaml
  test-deps:
    uses: ./.github/workflows/test-deps.yaml
