name: Cyclic Imports
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  cyclic-import:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6

      - name: Setup python environment
        uses: durandtibo/setup-venv-uv-action@v0.0.1

      - name: check coola
        run: |
          python -c "import coola"
      - name: check coola.equality
        run: |
          python -c "from coola import equality"
      - name: check coola.equality.comparators
        run: |
          python -c "from coola.equality import comparators"
      - name: check coola.equality.testers
        run: |
          python -c "from coola.equality import testers"
      - name: check coola.formatters
        run: |
          python -c "from coola import formatters"
      - name: check coola.nested
        run: |
          python -c "from coola import nested"
      - name: check coola.random
        run: |
          python -c "from coola import random"
      - name: check coola.reducers
        run: |
          python -c "from coola import reducers"
      - name: check coola.summarizers
        run: |
          python -c "from coola import summarizers"
      - name: check coola.utils
        run: |
          python -c "from coola import utils"
