name: Cyclic Imports
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  cyclic-import:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6

      - name: Setup python environment
        uses: durandtibo/setup-venv-uv-action@v0.0.3

      - name: check coola
        run: |
          python -c "import coola"
      - name: check coola.equality
        run: |
          python -c "from coola import equality"
          python -c "from coola.equality import comparators"
          python -c "from coola.equality import handlers"
          python -c "from coola.equality import testers"

      - name: check coola.iterator
        run: |
          python -c "from coola import iterator"
          python -c "from coola.iterator import bfs"
          python -c "from coola.iterator import dfs"

      - name: check coola.nested
        run: |
          python -c "from coola import nested"
      - name: check coola.random
        run: |
          python -c "from coola import random"
      - name: check coola.recursive
        run: |
          python -c "from coola import recursive"
      - name: check coola.reducer
        run: |
          python -c "from coola import reducer"
      - name: check coola.registry
        run: |
          python -c "from coola import registry"
      - name: check coola.summary
        run: |
          python -c "from coola import summary"
      - name: check coola.utils
        run: |
          python -c "from coola import utils"
