name: Nightly Package Tests
on:
  schedule:
    - cron: '30 10 * * *' # run at 10:30 AM UTC
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  stable:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install coola'

  stable-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "coola[all]"'

  stable-extras:
    uses: ./.github/workflows/test-package-extras.yaml

  latest:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre coola'

  latest-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "coola[all]"'

  latest-extras:
    uses: ./.github/workflows/test-package-extras.yaml
    with:
      install-args: '--pre'


  ########################
  #     Dependencies     #
  ########################


  #################################
  #     Optional dependencies     #
  #################################

  jax:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: jax
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).jax) }}

  numpy:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: numpy
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).numpy) }}

  packaging:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: packaging
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).packaging) }}

  pandas:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: pandas
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).pandas) }}

  polars:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: polars
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).polars) }}

  pyarrow:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: pyarrow
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).pyarrow) }}

  torch:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: torch
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).torch) }}

  xarray:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: xarray
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).xarray) }}
